<div class="container">
  <form [formGroup]='newForm'>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input 
      type="email" 
      class="form-control" 
      placeholder="Enter email"
      formControlName='myEmail'
      value='emailGetter.value'>
      <small *ngIf='emailGetter.invalid && emailGetter.touched' style='color:red'>Email required</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Name</label>
      <input 
      type="text" 
      class="form-control"
      placeholder="name"
      formControlName='myName'
      value='nameGetter.value'>
      <small *ngIf='nameGetter.invalid && nameGetter.touched' style='color:red'>Name required</small>
    </div>
    <button [disabled]='isDisabled' #btn (click)='submit()' type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>